@font-face {
    font-family: IRANSans;
    src: url("~static/fonts/IRANSans/IRANSans.ttf");
}

@font-face {
    font-family: BMajidSh;
    src: url("~static/fonts/BMajidSh/BMajidSh.ttf");
}

body {
    font-family: IRANSans, serif;
}

.circle-avatar {
    object-fit: cover;
    object-position: center;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

.rect-box {
    height: 10rem;
}

.btn-link:hover,
a:hover,
.btn-link:focus {
    text-decoration: none;
}

.news-box {
    position: relative;
    width: 18rem;
    height: 12rem;
    margin: 4px;
}

.darkLayer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.category-font-size {
    font-size: 14px;
}

.date-font-size {
    font-size: 12px;
}

.gallery-box-item {
    width: 12rem;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
    background-color:#21FF54 ;
}

.video-height {
    height: 32rem;
}

.manager-image-height {
    height: 31rem;
}

.choose-video-box {
    position: relative;
    width: 12rem;
    height: 12rem;
    border: 2px green dashed;
}

.inputUpload {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
