body {
    font-family: IRANSans, serif;
}

.img-option {
    object-fit: cover;
    object-position: bottom;
}

.image-height {
    height: 32rem;
}

.img-container {
    position: relative;
}

.darkLayer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.play {
    width: 10rem;
    height: 10rem;
}

.justify-text {
    text-align: justify;
}