.transport-image {
    height: 42rem;
}

.img-container {
    position: relative;
}

.darkLayer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.transport-type-box {
    height: 18rem;
    margin: 1rem;
    margin-top: -9rem;
}

.transport-type-box p {
    text-align: justify;
    max-height: 1em;
    line-height: 1.2em;
}

.transport-box-img {
    height: 10rem;
}

.circle-features {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
}