.was-validated .form-control:invalid, .was-validated .form-control:valid, .form-control.is-invalid, .form-control.is-valid {
  background-position: left calc(0.375em + 0.1875rem) center;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fadeIn-animation {
  animation: fadeIn 1s;
}
